ul {
  list-style: none;
  padding: 11px 16px;
}

.player{
  height: 100%;
  width: 100%;
  color: white;
}

.song-info{
  height: 50%;
  width: 100%;
  background: #DCDCDC;
  display: inline-block;
  border: solid;
  border-color: black;
}

.songs{
  height: 50%;
  width: 100%;
  background: #5a5a5a;
  display: inline-block;
  border: solid;
  border-color: black;
  overflow: scroll;
  font-size: 20px;
}
.song {
  margin-bottom: 10px;
}

.song-prop {
  display: block;
  margin-bottom: 25px;
}

.info-container{
  background: #606c70;
  width: 100%;
  height: 70%;
  padding: 11px 16px;
  box-sizing: border-box;
  font-size: 20px;
  
}

.btn-container {
  background: 	#454b4d;
  text-align: center;
  height: 30%;
  line-height: 6rem;
}

.btn {
  background: black;
  padding: 5px 10px;
  margin: 5px;
  color: white;
  cursor:pointer;
}

